*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(153, 219, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.form{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1500px;
    background: #fff;
    margin: 50px;
    box-shadow: 0px 0px 15px black;
}
.container{
    padding: 0px 100px;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    width: 160px;
    height: 150px;
    position: relative;
    top: 50px;
}
.heading{
    position: relative;
    top: 80px;
}
.heading h1{
    font-size: 2.1rem;
    display: flex;
    justify-content: center;
}
.heading h2{
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    font-weight: normal
}
.heading p{
    display: flex;
    justify-content: center;
}
.head2{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 0fr;
    top: 100px;
}
.head2 p{
    font-size: .9rem
}